body{
	font-family: 'Open Sans', sans-serif;
}
a {
color: #E1704B;
transition: color 0.5s ease;
}
a:hover{
    cursor:pointer;
}
h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5em;
    font-weight: 500;
}
.row {
	margin: 0;
}

.header-color-blue {
    background: #307ECC;
    border: 1px solid #307ECC;
    box-sizing: content-box;
    position: relative;
    min-height: 38px;
    padding: 0 12px 0;
    color: #fff;
}
.filter{
    margin-top: 6px;
}

.form-control  {
	width: 200px;
}

.header-color-blue+.widget-body {
	border-color: #307ECC;
	margin-top: -10px;
	padding: 20px 10px;
}

.container h1 {
	margin-top: 0;
	margin-bottom: 20px;
}

.collection-container {
	width: 1000px;
	margin-top: 20px;
}

.collection {
	width: 200px;
	height: 200px;
	background-color: #5e6f28;
	display: inline-block;
	margin-right: 15px;
	border-radius: 5px;
	padding: 5px;
	color: white;
}

.strike{
	text-decoration:line-through;
}
.header-elements-margin {
	margin: 5px;
}
.add-task{
	margin-top: 10px;
}
.nav-button-margin{
	margin: 10px 20px 0 0;
}
.navbar{
border-radius: 0;
background: #438EB9;
color: #fff;
}
.navbar .navbar-brand {
color: #FFF;
font-size: 24px;
text-shadow: none;
}